@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* Кастомный скроллбар в стиле минимализма */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 3px;
}
